@import "tailwindcss";
@plugin "daisyui" {
  themes: black --default, black --prefersdark;
}

@font-face {
  font-family: 'Segment';
  src: url('/fonts/Segment/Segment-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segment';
  src: url('/fonts/Segment/Segment-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Segment', 'Inter', Helvetica, Arial, sans-serif;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
}
